body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: #f5f3ee;
}

body::-webkit-scrollbar-thumb {
  background: rgba(241, 0, 0, 0.952);
  transition: 0.7s;
  border-radius: 10px;
  border: 2px solid #f5f3ee;
}

body::-webkit-scrollbar-thumb:hover {
  background: rgba(25, 25, 25, 1);
  transition: 0.7s;
  border-radius: 10px;
  border: 2px solid #f5f3ee;
}
